In [20]:
import pandas as pd
import numpy as np

In [145]:
df = pd.read_csv("lagos_air_pollution_health_data.csv - lagos_air_pollution_health_data.csv", index_col=None)

In [146]:
df.head()

,C,date,pm2_5,pm10,no2,so2,o3,hospital_id,respiratory_cases,avg_age_of_patients,weather_temperature,weather_humidity,wind_speed,rainfall_mm,population_density,industrial_activity_index
0,I K E J A,1/1/2021,65.64,135.39,45.21,22.29,34.84,HOSP_IKE_1,16.0,44.0,25.1,40.0,3.1,2.2,22937.7,0.87
1,Ikeja,1/1/2021,76.49,116.65,50.01,10.20,32.19,HOSP_IKE_4,12.0,33.1,25.3,53.5,3.8,2.2,21787.8,0.32
2,I K E J A,1/1/2021,55.50,101.72,39.10,21.91,49.99,HOSP_IKE_1,20.0,33.5,27.7,72.3,4.7,1.0,14798.0,0.78
3,Ikeja,1/1/2021,56.37,138.53,46.40,28.13,24.89,HOSP_IKE_8,15.0,49.3,32.8,62.9,4.8,8.2,18013.6,0.24
4,I K E J A,1/1/2021,93.77,123.73,59.55,11.82,29.73,HOSP_IKE_3,20.0,45.4,27.9,64.8,3.4,9.1,25980.3,0.30

In [147]:
# Rename C column to city
df.rename(columns={'C': 'city'}, inplace=True)

In [150]:
print(df.dtypes)

city                                 object
date                         datetime64[ns]
pm2_5                               float64
pm10                                float64
no2                                 float64
so2                                 float64
o3                                  float64
hospital_id                          object
respiratory_cases                   float64
avg_age_of_patients                 float64
weather_temperature                 float64
weather_humidity                    float64
wind_speed                          float64
rainfall_mm                         float64
population_density                  float64
industrial_activity_index           float64
dtype: object

In [149]:
# Convert date column type to datetime
df['date'] = pd.to_datetime(df['date'], dayfirst=True)

In [151]:
# Lower column names for uniformity
df.columns = df.columns.str.lower()

In [152]:
df.isnull().sum()

city                         28
date                         23
pm2_5                         3
pm10                          9
no2                           1
so2                           8
o3                            7
hospital_id                   2
respiratory_cases             7
avg_age_of_patients          16
weather_temperature           4
weather_humidity              6
wind_speed                    4
rainfall_mm                   3
population_density           22
industrial_activity_index     5
dtype: int64

In [153]:
df['city'].unique()

array(['I K E J A', 'Ikeja', 'ikeja', nan, 'YABA', 'yaba', 'Yaba', 'ajah',
       'A J A H', 'Ajah', 'surulere', 'SURULERE', 'Surulere', 'Lekki',
       'LEKKI', 'lekki'], dtype=object)

In [154]:
# Upper city names for uniformity and remove spaces
df['city'] = df['city'].str.replace(' ', '').str.upper()
print(df['city'].unique())

['IKEJA' nan 'YABA' 'AJAH' 'SURULERE' 'LEKKI']

### Handle Missing Values

In [156]:
# Populate empty city rows
# Define mapping of code to city name
city_mapping = {
    'AJA': 'AJAH',
    'IKE': 'IKEJA',
    'LEK': 'LEKKI',
    'SUR': 'SURULERE',
    'YAB': 'YABA',
}

# Extract city codes from hospital_id column
df['city_code'] = df['hospital_id'].str.extract(r'_([A-Z]{3})_')

# Map the extracted city codes to the full city names
df['mapped_city'] = df['city_code'].map(city_mapping)

# Fill empty cities
df['city'] = df['city'].replace('', np.nan).combine_first(df['mapped_city'])

# Drop extra columns
df.drop(columns=['city_code', 'mapped_city'], inplace=True)

df.isnull().sum()

city                          0
date                         23
pm2_5                         3
pm10                          9
no2                           1
so2                           8
o3                            7
hospital_id                   2
respiratory_cases             7
avg_age_of_patients          16
weather_temperature           4
weather_humidity              6
wind_speed                    4
rainfall_mm                   3
population_density           22
industrial_activity_index     5
dtype: int64

In [157]:
# Forward fill dates
df['date'] = df['date'].ffill()

In [159]:
# Fill numerical cols with median per hospital and date
# Drop missing hospital_ids
df = df.dropna(subset=['hospital_id'])
med_cols = ['pm2_5', 'pm10', 'no2', 'so2', 'o3', 'respiratory_cases', 'avg_age_of_patients', 'weather_temperature', 'weather_humidity', 'wind_speed', 
            'rainfall_mm', 'population_density', 'industrial_activity_index']

for col in med_cols:
    med = df.groupby(['date', 'hospital_id'])[col].transform('median')
    df.loc[:, col] = df[col].fillna(med)

df.isnull().sum()

city                         0
date                         0
pm2_5                        1
pm10                         0
no2                          0
so2                          0
o3                           0
hospital_id                  2
respiratory_cases            1
avg_age_of_patients          1
weather_temperature          0
weather_humidity             0
wind_speed                   0
rainfall_mm                  0
population_density           1
industrial_activity_index    0
dtype: int64

In [160]:
# Drop rows with missing entries
df = df.dropna(subset=['pm2_5', 'respiratory_cases', 'avg_age_of_patients', 'population_density'])

#### Aggregate the data my date

In [161]:
daily_agg = df.groupby(['date', 'hospital_id', 'city']).agg({
    'pm2_5': 'mean',
    'pm10': 'mean',
    'no2': 'mean',
    'so2': 'mean',
    'o3': 'mean',
    'respiratory_cases': 'sum',
    'avg_age_of_patients': 'mean',
    'weather_temperature': 'mean',
    'weather_humidity': 'mean',
    'wind_speed': 'mean',
    'rainfall_mm': 'sum',
    'population_density': 'mean',
    'industrial_activity_index': 'mean'
}).reset_index()

In [162]:
rounding_rules = {
    'pm2_5': 2,
    'pm10': 2,
    'no2': 2,
    'so2': 2,
    'o3': 2,
    'respiratory_cases': 0,
    'avg_age_of_patients': 0,
    'weather_temperature': 2,
    'weather_humidity': 2,
    'wind_speed': 2,
    'rainfall_mm': 2,
    'population_density': 2,
    'industrial_activity_index': 2,
}

# Apply the rounding rules to the DataFrame
daily_agg = daily_agg.round(rounding_rules)

In [193]:
daily_agg.drop(columns=(['month_name', 'month_number', 'season']), inplace=True)

In [190]:
daily_agg['month'] = daily_agg['date'].dt.month_name()
daily_agg['year'] = daily_agg['date'].dt.year

In [180]:
daily_agg.columns

Index(['date', 'hospital_id', 'city', 'pm2_5', 'pm10', 'no2', 'so2', 'o3',
       'respiratory_cases', 'avg_age_of_patients', 'weather_temperature',
       'weather_humidity', 'wind_speed', 'rainfall_mm', 'population_density',
       'industrial_activity_index', 'month_name', 'month_number'],
      dtype='object')

In [196]:
def is_harmattan(month):
    if month in ['January', 'February', 'December']:
        return 'Harmattan'
    else:
        return 'Not Harmattan'

daily_agg['season'] = daily_agg['month'].apply(is_harmattan)

In [187]:
daily_agg.to_csv('daily_agg.csv')